/* signup.css */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@300;400;500;600&family=Roboto:wght@500&display=swap');

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

/* navbar top */
.navbar-top{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.social-link i img{
    margin-left: 10px;
    transition: 0.5s ease;
    cursor: pointer;
}
@media screen and (max-width:500px){
    .social-link i img{
        width: 20px;
    }
}
.logo h3{
    font-weight: bold;
    font-family: "Dancing Script", cursive;
    font-size: 40px;
}
.logo span{
    font-family: "Dancing Script", cursive;
    color: rgb(71, 120, 147);
}
@media screen and (max-width:500px){
    .logo h3{
        font-size: 30px;
    }
   
}
.icons i img{
    margin-left: 10px;
    cursor: pointer;
}
@media screen and (max-width:500px){
    .icons i img{
        width: 20px;
    }
}
/* navbar top */

/* main content */
.main-content{
    width: 100%;
    height: 90vh;
    background: url(./image/_1.jpg);
    background-size: cover;
    background-position: center;
    transition: 1s;
    z-index: -2;
}
.main-content::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 , 0 , 0 , 0.2);
}

/* navbar */

#navbar-color{
    background-color: #bebebe;
    padding: 0;
}
.navbar-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.nav-link{
    margin-left: 30px;
    cursor: pointer;
    font-size: 18px;
    color: black;
    transform: translateX(-7px);
}
.nav-item{
    transition: 0.5s ease;
    text-align: center;
    padding: 10px;
    width: calc(100% / 5);
}
.nav-link:hover{
    color: black;
}
.nav-item:hover{
    background-color: rgb(165, 164, 164);
    cursor: pointer;
}
@media screen and (max-width:500px){
    .nav-item{
        width: 100%;
    }
}
/* navbar */

/* content */
.content{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.content h1{
    font-family: "Dancing Script", cursive;
    text-transform: capitalize;
    transform: translate(0 , -20px);
    font-size: 50px;
    text-align: center;
    color: rgb(235, 234, 234);
}
.content p{
    text-align: center;
}
.content span{
    font-family: "Dancing Script", cursive;
    font-size: 50px;
    color: rgb(71, 120, 147);
}
#btn1 button{
    font-size: 20px;
    width: 170px;
    padding: 15px;
    background-color: transparent;
    transform: translate(0 , 20px);
    border: none;
    transition: 0.3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    color: black;
    border-radius: 10px;
}
#btn1 button:hover{
    background-color: rgb(165, 164, 164);
    cursor: pointer;
}
@media screen and (max-width:500px){
    .content h1 , .content span{
        font-size: 40px;
    }
}
/* content */

/* main content */
.boxform h1{
    text-align: center;
    width: 60%/7;
}

.boxform h1 span
{
    color:#000;
    font-size: 50px;
    font-family: "Dancing Script", cursive;
    font-weight: bold;
    letter-spacing: 4px;
    text-transform: uppercase;
    background-size: 80%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: animate 2.7s linear infinite;
}


h1 span:nth-child(1)
{
    animation-delay: 0s;
}
h1 span:nth-child(2)
{
    animation-delay: 0.2s;
}
h1 span:nth-child(3)
{
    animation-delay: 0.4s;
}
h1 span:nth-child(4)
{
    animation-delay: 0.6s;
}
h1 span:nth-child(5)
{
    animation-delay: 0.8s;
}
h1 span:nth-child(6)
{
    animation-delay: 1s;
}
@keyframes animate
{
    0%,80%
    {
        color:rgb(50, 48, 52);
        text-shadow: none;
    }
    100%
    {
        color: #fff;
        text-shadow:0 0 80px #fff,
                    0 0 20px #fff,
                    0 0 40px #fff,
                    0 0 80px #fff,
                    0 0 120px #fff,
                    0 0 160px #fff;
    }
}

.boxform span {
    text-align: center;
    color:#acc4c4;
    font-size: 20px;
}

.boxform{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -35%);
    width: 50%;
    height: 70%;
    align-content: center;
    backdrop-filter: blur(20px);
    border: 1px solid black;
    padding: 40px;
    max-width: 95%;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}

.signup{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.boxform i{
    color:#000;    
    font-size: 25px;
    width: 3%;
    margin-left: 2%;
}

.boxform .input-bar{
    width: 70%;
    height: 50px;
    font-size: 10px;
    /* background-color:#dbd6d6 ; */
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid black;
    margin-top: 8px;
    transition: 0.5s;
}
.input-bar input{
    background: transparent;
    height: 100%;
    font-size: 30px;
    width: 92%;
    border: none;
    border-radius: 2px;
    margin-left: 10px;
}
@media screen and (max-width:1000px){
    .boxform{
        width: 100%;
        height: 80%;
    }
    .input-bar input{
       width: 80%;
       margin-left: 20px;
    }
    .boxform span{
        width: 150%;
    }
    .main-content{
         z-index: 1000;
    }
}
.boxform input[type="submit"]{
    background-color: #bebebe;
    color: #000;
    font-size: 20px;
    width: 70%;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.5s;
    border: none;
}
.boxform input[type="submit"]:hover{
    background-color:#dbd6d6 ;
    color: #434646;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    margin-bottom: 20px;
    border: 1px solid #acc4c4;
}
.boxform input[placeholder]{
   font-size: 20px;
}
.boxform input[placeholder]:hover::placeholder{
   font-size: 20px;
   color: #7c8787;
}
::placeholder{
    color: #000000;
}
.boxform .input-bar:hover{
    background-color:#dbd6d6 ;
    color: #acc4c4;
    cursor: pointer;
}
.boxform span a{
    color:#000000;
    font-size: 25px;
    margin-top: 10px;
}
.login{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

}
.login input{
    background: transparent;
    height: 100%;
    font-size: 30px;
    width: 90%;
    border: none;
    border-radius: 2px;
    margin-left: 12px;
}
.login input[type="submit"]{
   margin-right: 10px;
}

@media screen and (max-width:1000px){
    .boxform{
        width: 100%;
        height: 80%;
        /* transform: translateY(-10px); */
    }
    .input-bar input{
       width: 80%;
       margin-left: 20px;
    }
    .boxform span{
        width: 100%;
    }
}